Repository shotasato0/CommuniCare: changes, and which lefthook commands are due for each by the changed paths.
All: php-lint, pint, phpstan, eslint, vue-tsc

php-lint:
  run: ./vendor/bin/sail php -l {staged_files}
  stage_fixed: true

pint:
  run: ./vendor/bin/sail pint {staged_files}
  stage_fixed: true

phpstan:
  run: ./vendor/bin/sail php vendor/bin/phpstan analyse {staged_files} --memory-limit=1G
  fail_text: PHPStan found issues. Please fix them before committing.

eslint:
  run: npm run lint {staged_files}
  stage_fixed: true

vue-tsc:
  run: npm run type-check
  fail_text: Vue.js type check failed. Please fix type issues.

[fix] ゲストデモ遷移をSPA経由からフルリロード方式に修正
  resources/js/Pages/Welcome.vue
Due: eslint, vue-tsc

test: 危険操作のセーフティテストを追加
  tests/Security/DangerousOperationTest.php
Due: php-lint, pint, phpstan

Revert "test: 危険操作のセーフティテストを追加"
  tests/Security/DangerousOperationTest.php
Due: php-lint, pint, phpstan

[update]引用投稿フォームを統一Attachmentに対応しレガシー画像処理を撤去
  resources/js/Components/FileUpload.vue
  resources/js/Components/QuotePostForm.vue
Due: eslint, vue-tsc

chore(quote-post): address Copilot review\n\n- Add mouseleave fallback to reset dragDepth/isDragOverTextbox\n- Remove trailing whitespace in QuotePostForm.vue
  resources/js/Components/QuotePostForm.vue
Due: eslint, vue-tsc

fix(routes): route:cache 対応のため Closure ルートをコントローラ化\n\n- web: '/' を WelcomeController@index へ移行\n- api: '/user' を Api\UserController@me へ移行\n- WelcomeController / Api\UserController を追加
  app/Http/Controllers/Api/UserController.php
  app/Http/Controllers/WelcomeController.php
  routes/api.php
  routes/web.php
Due: php-lint, pint, phpstan

[add] ゲストログイン用のドメイン・プロトコル・ポート設定を追加
  config/guest.php
Due: php-lint, pint, phpstan

[update] テナント側にゲスト画面とログイン実行ルートを追加
  routes/tenant.php
Due: php-lint, pint, phpstan

[update] 中央のゲスト導線を/guest/redirectに統一
  routes/auth.php
Due: php-lint, pint, phpstan

[fix] 中央→テナント遷移をInertia::locationによるフルリダイレクトへ統一
  app/Http/Controllers/Auth/GuestTenantController.php
Due: php-lint, pint, phpstan

[fix] Welcomeのゲスト導線をサーバ生成URLに統一
  app/Http/Controllers/WelcomeController.php
  resources/js/Pages/Welcome.vue
Due: php-lint, pint, phpstan, eslint, vue-tsc

[update] ゲスト画面の表示判定をサーバ側propsへ移譲
  app/Http/Controllers/TenantHomeController.php
  resources/js/Pages/TenantHome.vue
Due: php-lint, pint, phpstan, eslint, vue-tsc

[update] テナント用ルートをドメイン限定で読み込む構成へ変更
  bootstrap/app.php
Due: php-lint, pint, phpstan

[fix] テナント未初期化時の管理者判定とゲスト画面判定を安定化
  app/Http/Controllers/TenantHomeController.php
Due: php-lint, pint, phpstan

[fix] ログアウト直後の白画面を解消（flash 未定義時でも安全に参照）
  resources/js/Pages/TenantHome.vue
Due: eslint, vue-tsc

[update] テナント解決のHost検証とドメイン解決の短期キャッシュを追加
  app/Http/Controllers/TenantHomeController.php
Due: php-lint, pint, phpstan

[update] GuestTenantControllerの例外ログをサニタイズ
  app/Http/Controllers/Auth/GuestTenantController.php
Due: php-lint, pint, phpstan

[update] TenantHomeのprops参照をoptional chainingで統一
  resources/js/Pages/TenantHome.vue
Due: eslint, vue-tsc

[fix] 本番ゲストドメイン既定値を communicare.jp に修正
  config/guest.php
Due: php-lint, pint, phpstan

[add] 言語ポリシーをAGENTS.mdに追加
  AGENTS.md
Due: none

[update] 本文テキストエリアにクリップアイコンを追加し、ファイルダイアログを開けるように
  resources/js/Components/PostForm.vue
Due: eslint, vue-tsc

[update] コメント入力欄にクリップアイコンを追加し、ファイルダイアログを開けるように
  resources/js/Components/CommentForm.vue
Due: eslint, vue-tsc

[fix] クリップアイコンの位置を調整（CommentForm/PostForm）
  resources/js/Components/CommentForm.vue
  resources/js/Components/PostForm.vue
Due: eslint, vue-tsc

[add] TextareaWithAttach コンポーネントを新規追加
  resources/js/Components/TextareaWithAttach.vue
Due: eslint, vue-tsc

[update] PostForm を TextareaWithAttach コンポーネントに置換
  resources/js/Components/PostForm.vue
Due: eslint, vue-tsc

[update] CommentForm を TextareaWithAttach コンポーネントに置換
  resources/js/Components/CommentForm.vue
Due: eslint, vue-tsc

[update] QuotePostForm を TextareaWithAttach コンポーネントに置換
  resources/js/Components/QuotePostForm.vue
Due: eslint, vue-tsc

[fix] TextareaWithAttach の inheritAttrs 設定を追加
  resources/js/Components/TextareaWithAttach.vue
Due: eslint, vue-tsc

[add]ファイルドラッグ検知フック useFileDragHover を追加
  resources/js/Utils/useFileDragHover.js
Due: eslint

[add]ドロップ用オーバーレイ DropOverlay を追加
  resources/js/Components/DropOverlay.vue
Due: eslint, vue-tsc

[update]FileUpload に表示制御 props(visible) を追加し非表示運用を可能に
  resources/js/Components/FileUpload.vue
Due: eslint, vue-tsc

[update]PostForm にドラッグ&ドロップ添付を実装（オーバーレイ表示＋FileUpload連携）
  resources/js/Components/PostForm.vue
Due: eslint, vue-tsc

[fix] DropOverlayを非干渉化してdragenter/dragleaveの誤発火を防止
  resources/js/Components/DropOverlay.vue
  resources/js/Components/QuotePostForm.vue
Due: eslint, vue-tsc

Path conditions:
  php-lint: any of: *.php
  pint: any of: *.php
  phpstan: any of: *.php
  eslint: any of: *.{js,vue,ts}
  vue-tsc: any of: *.{vue,ts}
