Repository shotasato0/CommuniCare: changes, and which lefthook commands are due for each by the changed paths.
All: php-lint, pint, phpstan, eslint, vue-tsc

php-lint:
  run: ./vendor/bin/sail php -l {staged_files}
  stage_fixed: true

pint:
  run: ./vendor/bin/sail pint {staged_files}
  stage_fixed: true

phpstan:
  run: ./vendor/bin/sail php vendor/bin/phpstan analyse {staged_files} --memory-limit=1G
  fail_text: PHPStan found issues. Please fix them before committing.

eslint:
  run: npm run lint {staged_files}
  stage_fixed: true

vue-tsc:
  run: npm run type-check
  fail_text: Vue.js type check failed. Please fix type issues.

[add] Calendar/Index.vueの実装（月間ビュー）
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

[add] ナビゲーションメニューへのカレンダーリンク追加
  lang/ja.json
  resources/js/Layouts/AuthenticatedLayout.vue
Due: eslint, vue-tsc

[add] ScheduleForm.vueコンポーネントの作成
  resources/js/Components/ScheduleForm.vue
Due: eslint, vue-tsc

[add] カレンダーからの日付クリックでフォーム表示機能を追加
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

[add] ScheduleModal.vueコンポーネントの作成
  resources/js/Components/ScheduleModal.vue
Due: eslint, vue-tsc

[add] イベントクリックでモーダル表示機能を追加
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

[fix] マイグレーションファイルのafter()句を削除
  database/migrations/2025_11_08_155511_create_calendar_dates_table.php
  database/migrations/2025_11_08_155514_create_schedule_types_table.php
  database/migrations/2025_11_08_155517_create_schedules_table.php
Due: php-lint, pint, phpstan

[fix] ユニーク制約名を短縮
  database/migrations/2025_11_08_155517_create_schedules_table.php
Due: php-lint, pint, phpstan

[fix] FullCalendar v6のCSSインポートパスを修正
  resources/js/Pages/Calendar/Index.vue
  resources/js/app.js
Due: eslint, vue-tsc

[fix] FullCalendar v6のCSSをCDNから読み込むように変更
  resources/css/app.css
  resources/js/app.js
Due: eslint

[fix] Calendar/Index.vueから未使用のuseI18n()を削除
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

[fix] Calendar/Index.vueから未使用のcomputedインポートを削除
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

[fix] Calendar/Index.vueの関数定義順序を修正
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

[fix] ScheduleModal.vueにwatchをインポート
  resources/js/Components/ScheduleModal.vue
Due: eslint, vue-tsc

[fix] GitHub Copilotレビュー対応
  app/Http/Controllers/CalendarController.php
  resources/js/Components/ScheduleForm.vue
  resources/js/Pages/Calendar/Index.vue
Due: php-lint, pint, phpstan, eslint, vue-tsc

[add] CalendarController::week()とday()メソッドの実装
  app/Http/Controllers/CalendarController.php
Due: php-lint, pint, phpstan

[add] 週間・日間ビューのルート追加
  routes/tenant.php
Due: php-lint, pint, phpstan

[add] WeekView.vueコンポーネントの実装
  resources/js/Pages/Calendar/Week.vue
Due: eslint, vue-tsc

[add] DayView.vueコンポーネントの実装
  resources/js/Pages/Calendar/Day.vue
Due: eslint, vue-tsc

[update] カレンダーUIを大きくし、日付セルを2欄に分割
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

[fix] スケジュールアイテムのクリックイベントを正しく動作させる
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

[fix] 日付セルが空の場合の表示を修正
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

[debug] カレンダー表示のデバッグログを追加
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

[fix] dayCellContentの戻り値をstring形式に修正
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

[debug] 初期データのデバッグログを追加
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

[debug] eventsByDateのデバッグログを強化
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

[fix] dayCellContentの戻り値を{ html: string }形式に修正
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

[fix] dayCellContentを簡素化し、dayCellDidMountでDOM操作に変更
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

[fix] カレンダーの日付セルを上下2分割に修正
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

[fix] 日付セルの上下2分割構造を改善
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

[fix] FullCalendarのDOM構造を分析して上下2分割を再実装
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

[fix] CSSを修正して上下2分割を確実に実現
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

[fix] 上下2分割を確実に表示するように修正
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

[style] スケジュールセクションと入浴セクションの分割線を明確化
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

[style] 分割線をより明確に表示するように強化
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

[refactor] Tailwind CSSクラスを直接DOM要素に適用してスタイルを明確化
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

[cleanup] 不要なCSSを削除してTailwind CSSのみに統一
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

[fix] ScheduleModalの「利用者」項目を「スケジュール名」に変更
  resources/js/Components/ScheduleModal.vue
Due: eslint, vue-tsc

[feat] スケジュール作成フォームの「利用者」を「スケジュール名」テキスト入力に変更
  app/Http/Requests/Schedule/ScheduleStoreRequest.php
  app/Models/Schedule.php
  app/Services/ScheduleService.php
  database/migrations/2025_11_10_085719_add_schedule_name_to_schedules_table.php
  resources/js/Components/ScheduleForm.vue
Due: php-lint, pint, phpstan, eslint, vue-tsc

[feat] スケジュール種別を削除
  app/Http/Controllers/CalendarController.php
  app/Http/Requests/Schedule/ScheduleStoreRequest.php
  app/Http/Requests/Schedule/ScheduleUpdateRequest.php
  app/Models/Schedule.php
  app/Services/ScheduleService.php
  database/migrations/2025_11_10_090018_remove_schedule_type_id_from_schedules_table.php
  resources/js/Components/ScheduleForm.vue
Due: php-lint, pint, phpstan, eslint, vue-tsc

Path conditions:
  php-lint: any of: *.php
  pint: any of: *.php
  phpstan: any of: *.php
  eslint: any of: *.{js,vue,ts}
  vue-tsc: any of: *.{vue,ts}
