Repository shotasato0/CommuniCare: changes, and which lefthook commands are due for each by the changed paths.
All: php-lint, pint, phpstan, eslint, vue-tsc

lefthook.yml:

# Lefthook品質チェック自動化設定
# CommuniCareV2プロジェクト専用設定

pre-commit:
  parallel: true
  commands:
    # PHP Linting & Code Style
    php-lint:
      glob: "*.php"
      run: ./vendor/bin/sail php -l {staged_files}
      stage_fixed: true

    # Laravel Pint (Code Style Fixer)  
    pint:
      glob: "*.php"
      run: ./vendor/bin/sail pint {staged_files}
      stage_fixed: true

    # PHPStan Static Analysis
    phpstan:
      glob: "*.php"
      run: ./vendor/bin/sail php vendor/bin/phpstan analyse {staged_files} --memory-limit=1G
      fail_text: "PHPStan found issues. Please fix them before committing."

    # セキュリティテスト (Unit Security Tests)
    security-tests:
      run: ./vendor/bin/sail test tests/Unit/SecurityFunctionTest.php --stop-on-failure
      fail_text: "セキュリティテストに失敗しました。修正してからコミットしてください。"

    # Frontend Linting
    eslint:
      glob: "*.{js,vue,ts}"
      run: npm run lint {staged_files}
      stage_fixed: true

    # Vue.js Type Check
    vue-tsc:
      glob: "*.{vue,ts}"
      run: npm run type-check
      fail_text: "Vue.js type check failed. Please fix type issues."

pre-push:
  parallel: false
  commands:
    # 全体テストスイート実行
    unit-tests:
      run: ./vendor/bin/sail test --testsuite=Unit --stop-on-failure
      fail_text: "Unit tests failed. Push aborted."

    # テナント境界チェック専用テスト
    tenant-boundary-check:
      run: ./vendor/bin/sail test tests/Unit/SecurityFunctionTest.php::test_tenant_violation_exception_detailed_context --stop-on-failure
      fail_text: "テナント境界チェックに失敗しました。セキュリティ問題を修正してください。"

    # フロントエンドビルドテスト
    frontend-build:
      run: npm run build
      fail_text: "フロントエンドビルドに失敗しました。"

    # マルチテナント整合性チェック
    tenant-consistency:
      run: ./vendor/bin/sail artisan tenant:check-consistency
      fail_text: "マルチテナント整合性チェックに失敗しました。"

# スキップ設定
skip_output:
  - meta
  - summary

# 出力設定  
output:
  - execution_out
  - execution_info
  - skips

# ソースディレクトリ
source_dir: "./"
source_dir_local: "./"

# 設定
assert_lefthook_installed: true
no_tty: false

[update] ProfileControllerのupdateIconメソッドで未使用変数を削除
  app/Http/Controllers/ProfileController.php
Due: php-lint, pint, phpstan

[update] RightSidebarのアイコン表示をiconUrlアクセサに統一
  resources/js/Pages/Unit/RightSidebar.vue
Due: eslint, vue-tsc

[update] DashboardページのアイコンURL生成をiconUrlアクセサに統一
  resources/js/Pages/Dashboard.vue
Due: eslint, vue-tsc

[update] ユーザー詳細・一覧ページのアイコン表示をiconUrlアクセサに統一
  resources/js/Pages/Users/Index.vue
  resources/js/Pages/Users/Show.vue
Due: eslint, vue-tsc

[update] フォーラムの引用投稿ユーザーアイコン表示をiconUrlアクセサに統一
  resources/js/Pages/Forum.vue
Due: eslint, vue-tsc

[update] フォーラムの投稿者アイコン表示をiconUrlアクセサに統一し重複imgタグを削除
  resources/js/Pages/Forum.vue
Due: eslint, vue-tsc

[update] 親コメントのユーザーアイコン表示をiconUrlアクセサに統一し重複imgタグを削除
  resources/js/Components/ParentComment.vue
Due: eslint, vue-tsc

[update] 子コメントのユーザーアイコン表示をiconUrlアクセサに統一し重複imgタグを削除
  resources/js/Components/ChildComment.vue
Due: eslint, vue-tsc

feat: プロフィール画像の表示ロジックを改善
  resources/js/Pages/Profile/Partials/UpdateProfileInformationForm.vue
Due: eslint, vue-tsc

update: アイコンプレビューのURL取得ロジックを簡素化
  resources/js/Pages/Profile/Partials/IconEditForm.vue
Due: eslint, vue-tsc

[update] AGENTS.mdにセキュリティルールと開発ガイドを追記
  AGENTS.md
Due: none

[fix] Forum.vueで不正なv-else構文を削除
  resources/js/Pages/Forum.vue
Due: eslint, vue-tsc

[fix] Userモデルでicon_urlとiconUrlをJSONに出力するよう修正
  app/Models/User.php
Due: php-lint, pint, phpstan

[fix] プロフィールアイコン更新後に即時反映されない不具合の修正
  resources/js/Pages/Profile/Edit.vue
  resources/js/Pages/Profile/Partials/IconEditForm.vue
Due: eslint, vue-tsc

[fix] AttachmentService::deleteAttachmentをAttachment|int両対応に拡張し呼び出し不一致を解消
  app/Services/AttachmentService.php
Due: php-lint, pint, phpstan

[update] 投稿・コメントの添付追加に配列上限を追加（1リクエスト最大10ファイル）
  app/Http/Controllers/CommentController.php
  app/Http/Controllers/PostController.php
Due: php-lint, pint, phpstan

[fix] DBファサードを部分モック化してSQLite非対応クエリのみ無害化
  tests/TestCase.php
Due: php-lint, pint, phpstan

[add] postsテーブルにmessageカラムの部分インデックスを追加するマイグレーションを作成
  database/migrations/2025_08_29_120000_add_message_index_to_posts_table.php
Due: php-lint, pint, phpstan

[fix] SQLite環境でのマイグレーション互換性を確保するためDBモックを拡張
  tests/TestCase.php
Due: php-lint, pint, phpstan

[fix] ForumServiceでattachmentsがnullのときに例外が発生する問題を修正
  app/Services/ForumService.php
Due: php-lint, pint, phpstan
