Repository shotasato0/CommuniCare: changes, and which lefthook commands are due for each by the changed paths.
All: php-lint, pint, phpstan, eslint, vue-tsc

php-lint:
  run: ./vendor/bin/sail php -l {staged_files}
  stage_fixed: true

pint:
  run: ./vendor/bin/sail pint {staged_files}
  stage_fixed: true

phpstan:
  run: ./vendor/bin/sail php vendor/bin/phpstan analyse {staged_files} --memory-limit=1G
  fail_text: PHPStan found issues. Please fix them before committing.

eslint:
  run: npm run lint {staged_files}
  stage_fixed: true

vue-tsc:
  run: npm run type-check
  fail_text: Vue.js type check failed. Please fix type issues.

[fix] useFileDragHoverにデバウンスを導入しdragleave即時OFFを抑制
  resources/js/Utils/useFileDragHover.js
Due: eslint

[fix] TextareaWithAttachでドラッグ中はクリップボタンを非干渉化
  resources/js/Components/PostForm.vue
  resources/js/Components/TextareaWithAttach.vue
Due: eslint, vue-tsc

[fix] FileUploadの表示制御が失われていた不具合を復旧
  resources/js/Components/PostForm.vue
Due: eslint, vue-tsc

[add] CommentFormにドラッグ&ドロップ対応（DropOverlay導入＋フック連携）
  resources/js/Components/CommentForm.vue
Due: eslint, vue-tsc

[remove] FileUploadの旧ドラッグ&ドロップUIを削除（drag-drop-area一式）
  resources/js/Components/FileUpload.vue
Due: eslint, vue-tsc

[fix] ユーザー削除時の外部キー制約エラーを解消（attachments.uploaded_by を ON DELETE SET NULL）
  database/migrations/2025_09_18_000001_update_attachments_uploaded_by_on_delete_set_null.php
Due: php-lint, pint, phpstan

[fix] 添付画像が表示されない不具合の修正（保存/表示のテナントFS文脈を統一）
  app/Console/Commands/RepairAttachmentFiles.php
  app/Http/Controllers/AttachmentController.php
  config/tenancy.php
  routes/tenant.php
  routes/web.php
Due: php-lint, pint, phpstan

[fix] 新規添付が表示されない場合がある問題の修正（重複ハッシュでも物理実体が無いときは新規保存へフォールバック）
  app/Services/AttachmentService.php
Due: php-lint, pint, phpstan

[fix] 投稿削除時に添付ファイルとレガシー画像を物理削除するよう対応
  app/Services/PostService.php
Due: php-lint, pint, phpstan

[fix] storage配下を.gitignoreに追加し、アップロードファイルが誤ってステージングされないようにする
  .gitignore
Due: none

[add] 添付の一時保存→確定保存とGCを導入（フェーズ1）
  app/Console/Commands/AttachmentsGc.php
  app/Services/AttachmentService.php
  routes/console.php
Due: php-lint, pint, phpstan

[update] フェーズ2一部: 制約統一・ログ抑制・運用ドキュメント整備
  app/Http/Controllers/AttachmentController.php
  app/Http/Requests/Comment/CommentStoreRequest.php
  app/Http/Requests/Post/PostStoreRequest.php
  app/Services/AttachmentService.php
  app/Services/PostService.php
  config/attachments.php
  docs/attachments-ops.md
  resources/js/Components/FileUpload.vue
Due: php-lint, pint, phpstan, eslint, vue-tsc

[add] self-heal（表示時に中央→テナントへ1回コピー）を追加（フェーズ3先取り）
  app/Http/Controllers/AttachmentController.php
  config/attachments.php
  docs/attachments-ops.md
Due: php-lint, pint, phpstan

[fix]ゲストユーザー削除時の500エラーを回避
  app/Http/Controllers/Auth/GuestLoginController.php
Due: php-lint, pint, phpstan

hotfix(guest-logout): fix Undefined type 'Log' by using Log facade consistently and ensure import
  app/Http/Controllers/Auth/GuestLoginController.php
Due: php-lint, pint, phpstan

[update]ゲスト入口URLを/に統一し、/guest/loginを301リダイレクトへ
  routes/tenant.php
Due: php-lint, pint, phpstan

[update]ゲスト判定ロジックをドメイン一致のみとする
  app/Http/Controllers/TenantHomeController.php
Due: php-lint, pint, phpstan

[update]中央→ゲスト誘導URLを/guest/loginから/に変更
  app/Http/Controllers/Auth/GuestTenantController.php
Due: php-lint, pint, phpstan

[remove]除外パスからguest/loginを削除
  app/Http/Middleware/InitializeTenancyCustom.php
Due: php-lint, pint, phpstan

[update]ゲスト旧URLのリダイレクトをRoute::redirectで統一
  routes/tenant.php
Due: php-lint, pint, phpstan

[chore]ゲスト判定コメントを実装と一致する内容に修正
  app/Http/Controllers/TenantHomeController.php
Due: php-lint, pint, phpstan

[fix] 中央→テナント遷移URLを環境別の絶対URL（ルート/）に統一
  app/Http/Controllers/WelcomeController.php
Due: php-lint, pint, phpstan

[update] デモ導線を Inertia Link から通常アンカーに変更しフル遷移へ統一
  resources/js/Pages/Welcome.vue
Due: eslint, vue-tsc

[fix] WelcomeController: ドメイン未設定時のフォールバックを追加しURL生成を堅牢化 (Copilot指摘対応)
  app/Http/Controllers/WelcomeController.php
Due: php-lint, pint, phpstan

[add] テスト環境固定と破壊的Artisanコマンド遮断を検証する安全テストを追加
  tests/Security/DangerousOperationTest.php
Due: php-lint, pint, phpstan

[update] PHPUnit設定にPerformance/Securityテストスイートを追加
  phpunit.xml
Due: none

[update] テスト基底クラスに環境チェック処理の導入準備を追加
  tests/TestCase.php
Due: php-lint, pint, phpstan

[add] テナント境界チェック用のユニットテストを追加
  tests/Unit/TenantBoundaryCheckTest.php
Due: php-lint, pint, phpstan

[update] TenantViolationException呼び出しを新シグネチャへ移行し、欠番検知時の代表IDを付与
  app/Traits/TenantBoundaryCheckTrait.php
Due: php-lint, pint, phpstan

[add] PostServiceの削除権限ロジックを検証するユニットテストを追加
  tests/Unit/PostServiceSecurityTest.php
Due: php-lint, pint, phpstan

test: extract reusable UserStub for Auth mocking; test: migrate data provider to attribute in DangerousOperationTest to avoid doc-comment deprecation
  tests/Security/DangerousOperationTest.php
  tests/Support/UserStub.php
  tests/Unit/PostServiceSecurityTest.php
  tests/Unit/TenantBoundaryCheckTest.php
Due: php-lint, pint, phpstan

[add] 管理者が同一テナントのゲストユーザーを物理削除できるFeatureテストを追加
  tests/Feature/AdminDeletesGuestUserTest.php
Due: php-lint, pint, phpstan

[add] 管理者によるユーザー削除の振る舞いを検証するFeatureテストを追加
  tests/Feature/AdminUserDeletionTest.php
Due: php-lint, pint, phpstan

[fix] AdminUserDeletionTestを安定化するためにロールとテナントを事前作成
  tests/Feature/AdminUserDeletionTest.php
Due: php-lint, pint, phpstan

[fix] ユーザー削除時の外部キー制約エラーを回避するため削除前に参照をNULL化
  app/Http/Controllers/UserController.php
Due: php-lint, pint, phpstan

[fix]attachmentsテーブルの外部キー定義を修正
  database/migrations/2025_10_18_120000_alter_attachments_uploaded_by_set_null.php
Due: php-lint, pint, phpstan

[update]管理者によるユーザー削除テストの安定化と型注釈追加
  tests/Feature/AdminUserDeletionTest.php
Due: php-lint, pint, phpstan

[fix]attachmentsテーブルの外部キー修正時に孤児レコードを整理
  database/migrations/2025_10_18_120000_alter_attachments_uploaded_by_set_null.php
Due: php-lint, pint, phpstan

test(cleanup): address Copilot review: remove unused imports; guard_name for roles; scoped Tenant::unguarded; safe down() for migration
  database/migrations/2025_10_18_120000_alter_attachments_uploaded_by_set_null.php
  tests/Feature/AdminDeletesGuestUserTest.php
  tests/Feature/AdminUserDeletionTest.php
Due: php-lint, pint, phpstan

config(guest): use generic default for production domain and drive actual host via .env.production (GUEST_DOMAIN_PRODUCTION)
  config/guest.php
Due: php-lint, pint, phpstan

Path conditions:
  php-lint: any of: *.php
  pint: any of: *.php
  phpstan: any of: *.php
  eslint: any of: *.{js,vue,ts}
  vue-tsc: any of: *.{vue,ts}
