Repository shotasato0/CommuniCare: changes, and which lefthook commands are due for each by the changed paths.
All: php-lint, pint, phpstan, eslint, vue-tsc

lefthook.yml:

# Lefthook品質チェック自動化設定
# CommuniCareV2プロジェクト専用設定

pre-commit:
  parallel: true
  commands:
    # PHP Linting & Code Style
    php-lint:
      glob: "*.php"
      run: ./vendor/bin/sail php -l {staged_files}
      stage_fixed: true

    # Laravel Pint (Code Style Fixer)  
    pint:
      glob: "*.php"
      run: ./vendor/bin/sail pint {staged_files}
      stage_fixed: true

    # PHPStan Static Analysis
    phpstan:
      glob: "*.php"
      run: ./vendor/bin/sail php vendor/bin/phpstan analyse {staged_files} --memory-limit=1G
      fail_text: "PHPStan found issues. Please fix them before committing."

    # セキュリティテスト (Unit Security Tests)
    security-tests:
      run: ./vendor/bin/sail test tests/Unit/SecurityFunctionTest.php --stop-on-failure
      fail_text: "セキュリティテストに失敗しました。修正してからコミットしてください。"

    # Frontend Linting
    eslint:
      glob: "*.{js,vue,ts}"
      run: npm run lint {staged_files}
      stage_fixed: true

    # Vue.js Type Check
    vue-tsc:
      glob: "*.{vue,ts}"
      run: npm run type-check
      fail_text: "Vue.js type check failed. Please fix type issues."

pre-push:
  parallel: false
  commands:
    # 全体テストスイート実行
    unit-tests:
      run: ./vendor/bin/sail test --testsuite=Unit --stop-on-failure
      fail_text: "Unit tests failed. Push aborted."

    # テナント境界チェック専用テスト
    tenant-boundary-check:
      run: ./vendor/bin/sail test tests/Unit/SecurityFunctionTest.php::test_tenant_violation_exception_detailed_context --stop-on-failure
      fail_text: "テナント境界チェックに失敗しました。セキュリティ問題を修正してください。"

    # フロントエンドビルドテスト
    frontend-build:
      run: npm run build
      fail_text: "フロントエンドビルドに失敗しました。"

    # マルチテナント整合性チェック
    tenant-consistency:
      run: ./vendor/bin/sail artisan tenant:check-consistency
      fail_text: "マルチテナント整合性チェックに失敗しました。"

# スキップ設定
skip_output:
  - meta
  - summary

# 出力設定  
output:
  - execution_out
  - execution_info
  - skips

# ソースディレクトリ
source_dir: "./"
source_dir_local: "./"

# 設定
assert_lefthook_installed: true
no_tty: false

プロジェクトルールの見直し|コミットルールファイルを追加 #198
  .cursor/rules/commit-rules.md
Due: none

プロジェクトルールの見直し|コミットメッセージ形式を更新 #198
  .cursor/rules/commit-rules.md
Due: none

プロジェクトルールの見直し|Issueテンプレートファイルをissuetemplate.mdにリネームして.cursor/rules/に移動 #198
  .cursor/rules/issuetemplate.md
Due: none

プロジェクトルールの見直し|composer.jsonをsrc/に移動し、autoload設定を修正 #198
  src/composer.json
Due: none

プロジェクトルールの見直し|artisanとpublic/index.phpのパスをsrc/構造に合わせて修正 #198
  src/artisan
  src/public/index.php
Due: php-lint, pint, phpstan

プロジェクトルールの見直し|docker-compose.ymlのボリュームマウントをsrc/構造に更新 #198
  docker-compose.yml
Due: none

プロジェクトルールの見直し|vite.config.jsをsrc/に移動し、パス設定を修正 #198
  src/vite.config.js
Due: eslint

プロジェクトルールの見直し|テナント境界チェックとInertia.jsミドルウェアの改善 #198
  src/app/Http/Controllers/Auth/GuestLoginController.php
  src/app/Http/Middleware/HandleInertiaRequests.php
  src/app/Http/Middleware/SetTenantCookie.php
  src/app/Providers/AppServiceProvider.php
  src/bootstrap/app.php
  src/config/database.php
Due: php-lint, pint, phpstan

プロジェクトルールの見直し|Ziggyのroute()関数をグローバルに利用可能にする #198
  src/resources/js/app.js
  src/resources/js/bootstrap.js
Due: eslint

プロジェクトルールの見直し|設定ファイルをsrc/ディレクトリに移動 #198
  src/composer.lock
  src/jsconfig.json
  src/package-lock.json
  src/package.json
  src/patches.lock.json
  src/phpunit.xml
  src/postcss.config.js
Due: eslint

プロジェクトルールの見直し|ルートディレクトリの設定ファイルを更新 #198
  .gitignore
  artisan
  composer.json
  phpunit.xml
Due: none

プロジェクトルールの見直し|tailwind.config.jsをsrc/ディレクトリに移動 #198
  src/tailwind.config.js
Due: eslint

プロジェクトルールの見直し|app.blade.phpでZiggyルート定義を手動設定 #198
  src/resources/views/app.blade.php
Due: php-lint, pint, phpstan

プロジェクトルールの見直し|.gitignoreにsrc/storage/を追加 #198
  .gitignore
Due: none

プロジェクトルールの見直し|ルートディレクトリの重複ファイルとディレクトリを削除 #198
  artisan
  composer.json
  composer.lock
  jsconfig.json
  package-lock.json
  package.json
  patches.lock.json
  phpunit.xml
  postcss.config.js
  src/storage/logs/laravel.log
  storage/app/.gitignore
  storage/app/public/.gitignore
  storage/debugbar/.gitignore
  storage/framework/.gitignore
  storage/framework/cache/.gitignore
  storage/framework/cache/data/.gitignore
  storage/framework/sessions/.gitignore
  storage/framework/testing/.gitignore
  storage/framework/views/.gitignore
  storage/logs/.gitignore
  tailwind.config.js
  vite.config.js
Due: eslint

プロジェクトルールの見直し|ルートディレクトリのpublicシンボリックリンクを削除 #198
  public
  src/storage/logs/laravel.log
Due: none

プロジェクトルールの見直し|.envファイルをsrc/ディレクトリに移動 #198
  .gitignore
  src/.env.example
  src/.env.testing
  src/storage/logs/laravel.log
Due: none

プロジェクトルールの見直し|docker-compose.ymlのvendorパスをsrc/vendorに修正 #198
  docker-compose.yml
Due: none

プロジェクトルールの見直し|IDEのターミナル作業ディレクトリをsrc/に設定 #198
  .cursor/settings.json
  .gitignore
  .vscode/settings.json
Due: none

プロジェクトルールの見直し|README.md、lefthook.yml、move_migrations.shのパスをsrc/構造に合わせて修正 #198
  README.md
  lefthook.yml
  move_migrations.sh
Due: none

プロジェクトルールの見直し|.gitignoreにsrc/配下のパターンを追加 #198
  .gitignore
Due: none

プロジェクトルールの見直し|ルートディレクトリの空のvendorディレクトリを削除 #198
  src/storage/logs/laravel.log
Due: none

コンテキスト対応ログシステム|カスタムログサービス（ContextualLogService）を実装 #198
  src/app/Services/ContextualLogService.php
Due: php-lint, pint, phpstan

コンテキスト対応ログシステム|Logsファサードを追加 #198
  src/app/Facades/Logs.php
Due: php-lint, pint, phpstan

コンテキスト対応ログシステム|ログチャンネル（web/guest/admin/console）を追加 #198
  src/config/logging.php
Due: php-lint, pint, phpstan

コンテキスト対応ログシステム|AppServiceProviderでContextualLogServiceを登録 #198
  src/app/Providers/AppServiceProvider.php
Due: php-lint, pint, phpstan

コンテキスト対応ログシステム|bootstrap/app.phpでLogsファサードを使用 #198
  src/bootstrap/app.php
Due: php-lint, pint, phpstan

コンテキスト対応ログシステム|.env.exampleにLOG_CHANNELS環境変数を追加 #198
  src/.env.example
Due: none

コンテキスト対応ログシステム|コントローラーでLog::をLogs::に置き換え #198
  src/app/Http/Controllers/CommentController.php
  src/app/Http/Controllers/PostController.php
Due: php-lint, pint, phpstan

コンテキスト対応ログシステム|サービス層でLog::をLogs::に置き換え #198
  src/app/Services/AttachmentService.php
  src/app/Services/PostService.php
Due: php-lint, pint, phpstan

コンテキスト対応ログシステム|トレイトでLog::をLogs::に置き換え #198
  src/app/Traits/SecurityValidationTrait.php
  src/app/Traits/TenantBoundaryCheckTrait.php
Due: php-lint, pint, phpstan

コンテキスト対応ログシステム|使用方法と設定のドキュメントを追加 #198
  src/docs/logging-contextual.md
Due: none

コンテキスト対応ログシステム|ログファイル名の形式を修正（拡張子を除いたパスに変更） #198
  src/config/logging.php
  src/docs/logging-contextual.md
Due: php-lint, pint, phpstan

プロジェクトルールの見直し|ログファイルをGit追跡から除外 #198
  src/storage/logs/laravel.log
Due: none

プロジェクトルールの見直し|AIエージェントの出力形式ルールを追加 #198
  src/.cursor/rules/cursor-rules.md
Due: none

プロジェクトルールの見直し|レビュー対応| LOG_CHANNELSをconfig経由で取得するよう修正（config:cache対応）#198
  src/app/Services/ContextualLogService.php
  src/config/logging.php
Due: php-lint, pint, phpstan

プロジェクトルールの見直し|レビュー対応| isAdminRouteでルート名null時もパス(admin/)で管理者判定するよう修正#198
  src/app/Services/ContextualLogService.php
Due: php-lint, pint, phpstan
