Repository shotasato0/CommuniCare: changes, and which lefthook commands are due for each by the changed paths.
All: php-lint, pint, phpstan, eslint, vue-tsc

php-lint:
  run: ./vendor/bin/sail php -l {staged_files}
  stage_fixed: true

pint:
  run: ./vendor/bin/sail pint {staged_files}
  stage_fixed: true

phpstan:
  run: ./vendor/bin/sail php vendor/bin/phpstan analyse {staged_files} --memory-limit=1G
  fail_text: PHPStan found issues. Please fix them before committing.

eslint:
  run: npm run lint {staged_files}
  stage_fixed: true

vue-tsc:
  run: npm run type-check
  fail_text: Vue.js type check failed. Please fix type issues.

[fix] CalendarControllerからScheduleTypeの参照を完全に削除
  app/Http/Controllers/CalendarController.php
Due: php-lint, pint, phpstan

fix: スケジュール作成時の409エラーと500エラーを修正
  app/Http/Controllers/ScheduleController.php
  app/Http/Requests/Schedule/ScheduleStoreRequest.php
  app/Models/Schedule.php
  app/Services/ScheduleService.php
  resources/js/Components/ScheduleForm.vue
Due: php-lint, pint, phpstan, eslint, vue-tsc

fix: スケジュール作成後にリロードなしでカレンダーに反映されるように修正
  resources/js/Pages/Calendar/Day.vue
  resources/js/Pages/Calendar/Index.vue
  resources/js/Pages/Calendar/Week.vue
Due: eslint, vue-tsc

fix: スケジュール削除時の権限チェックとエラーメッセージを改善
  app/Http/Controllers/ScheduleController.php
  app/Policies/SchedulePolicy.php
  resources/js/Components/ScheduleModal.vue
Due: php-lint, pint, phpstan, eslint, vue-tsc

fix: ゲストユーザーにuserロールを自動割り当てしてスケジュール作成を可能に
  app/Http/Controllers/Auth/GuestLoginController.php
  app/Http/Controllers/ScheduleController.php
Due: php-lint, pint, phpstan

fix: スケジュール削除後にカレンダーから即座に削除されるように修正
  resources/js/Components/ScheduleModal.vue
  resources/js/Pages/Calendar/Day.vue
  resources/js/Pages/Calendar/Index.vue
  resources/js/Pages/Calendar/Week.vue
Due: eslint, vue-tsc

fix: カレンダーのスケジュール削除・作成時のUI更新を改善
  resources/js/Components/ScheduleModal.vue
  resources/js/Pages/Calendar/Day.vue
  resources/js/Pages/Calendar/Index.vue
  resources/js/Pages/Calendar/Week.vue
Due: eslint, vue-tsc

fix: カレンダーの当日表示を改善し、透明な膜を削除
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

fix: CalendarControllerでPaginatorからコレクションを取得するように修正
  app/Http/Controllers/CalendarController.php
Due: php-lint, pint, phpstan

chore: Add .gitmodules for app-bath-table submodule
  .gitmodules
Due: none

fix: CalendarControllerでresident/scheduleType/calendarDateのnullチェックを追加
  app/Http/Controllers/CalendarController.php
Due: php-lint, pint, phpstan

[fix]掲示板からカレンダー遷移時のデータ表示不具合およびレイアウト崩れの修正
  app/Http/Controllers/CalendarController.php
  resources/js/Pages/Calendar/Index.vue
  resources/js/Pages/Forum.vue
Due: php-lint, pint, phpstan, eslint, vue-tsc

remove: デバッグログの削除
  app/Http/Controllers/CalendarController.php
  resources/js/Pages/Calendar/Index.vue
Due: php-lint, pint, phpstan, eslint, vue-tsc

[update] カレンダーUIの刷新（モダンデザイン化）
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

[update] 週間・日間カレンダーのUI刷新とビュー切り替え機能の実装
  resources/js/Pages/Calendar/Day.vue
  resources/js/Pages/Calendar/Index.vue
  resources/js/Pages/Calendar/Week.vue
Due: eslint, vue-tsc

[update] カレンダー月表示の分割ビュー復元とモーダル改善
  resources/js/Components/ScheduleForm.vue
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

[update] カレンダー月表示の分割ビューレイアウト調整（高さ均等化・全域拡大）
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

Refactor Calendar day view to split regular and bath schedules with pill design
  resources/js/Pages/Calendar/Index.vue
Due: eslint, vue-tsc

fix: add communicare.jp to central domains and update session middleware
  app/Http/Middleware/SetSessionDomain.php
  config/tenancy.php
Due: php-lint, pint, phpstan

fix: add www.communi-care.jp to central_domains and fix session regex
  app/Http/Middleware/SetSessionDomain.php
  config/tenancy.php
Due: php-lint, pint, phpstan

fix: resolve php 8.3 static trait property warnings in stancl/tenancy
  composer.json
  composer.lock
  patches.lock.json
  patches/stancl-tenancy-fix-php83.patch
Due: none

fix: resolve vite 504 error and css import order
  package.json
  resources/css/app.css
Due: none

fix: address PR review comments (use rimraf and fix patch)
  package-lock.json
  package.json
  patches/stancl-tenancy-fix-php83.patch
Due: none

fix(auth): support '/admin' query param in Login.vue for production compatibility
  resources/js/Pages/Auth/Login.vue
Due: eslint, vue-tsc

refactor(auth): optimize URLSearchParams usage in Login.vue
  resources/js/Pages/Auth/Login.vue
Due: eslint, vue-tsc

[add] トラブルシューティングドキュメント管理体制の整備
  docs/troubleshooting/503-service-unavailable.md
  rules_for_ai.md
Due: none

[update] GitHub Copilotレビュー指摘に対応
  docs/troubleshooting/503-service-unavailable.md
  rules_for_ai.md
Due: none

docs: デッドロック再現手順のドキュメントを追加
  docs/troubleshooting/deadlock-reproduction.md
Due: none

fix: CalendarControllerでLengthAwarePaginatorのgetCollection()をcollect(items())に修正
  app/Http/Controllers/CalendarController.php
Due: php-lint, pint, phpstan

fix: AttachmentControllerで\Log::をLog::に修正
  app/Http/Controllers/AttachmentController.php
Due: php-lint, pint, phpstan

refactor: ブランチ名をmasterからmainに変更
  AGENTS.md
  CLAUDE.md
  rules_for_ai.md
Due: none

リファクタリング|Post|不要なログを削除 #197
  app/Http/Controllers/PostController.php
Due: php-lint, pint, phpstan

リファクタリング|Post|リポジトリインターフェースと実装クラスの作成 #197
  app/Repositories/IPostRepository.php
  app/Repositories/PostRepository.php
Due: php-lint, pint, phpstan

リファクタリング|Post|PostServiceのリファクタリング #197
  app/Services/PostService.php
Due: php-lint, pint, phpstan

リファクタリング|Post|PostControllerのリファクタリング #197
  app/Http/Controllers/PostController.php
Due: php-lint, pint, phpstan

リファクタリング|Post|サービスプロバイダーの作成とDI設定 #197
  app/Providers/RepositoryServiceProvider.php
  bootstrap/providers.php
Due: php-lint, pint, phpstan

プロジェクトルールの見直し|.cursorrulesを.cursor/rules/cursor-rules.mdに移動しMarkdown形式に変換 #198
  .cursor/rules/cursor-rules.md
Due: none

プロジェクトルールの見直し|プルリクエストルールファイルを追加 #198
  .cursor/rules/pull-request-rules.md
Due: none

プロジェクトルールの見直し|AGENTS.md、CLAUDE.md、rules_for_ai.mdの内容をcursor-rules.mdに統合 #198
  .cursor/rules/cursor-rules.md
  AGENTS.md
  CLAUDE.md
  rules_for_ai.md
Due: none

Path conditions:
  php-lint: any of: *.php
  pint: any of: *.php
  phpstan: any of: *.php
  eslint: any of: *.{js,vue,ts}
  vue-tsc: any of: *.{vue,ts}
